a {
    color: rgb(0, 0, 255);
    text-decoration: underline;
}

a:hover {
    color: #974a2d;
}

a:not([href]):not([class]),
a:not([href]):not([class]):hover {
    color: inherit;
    text-decoration: none;
}

.social-icons .social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    width: 3.5rem;
    background-color: rgb(0, 0, 255);
    color: #fff;
    border-radius: 100%;
    font-size: 1.5rem;
    margin-right: 1.5rem;
}

.social-icons .social-icon:last-child {
    margin-right: 0;
}

.social-icons .social-icon:hover {
    background-color: #bd5d38;
}

.subheading {
    font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.5rem;
}
